﻿@{
    Layout = null;
    ViewBag.Title = "Main";
}
<div class="container">
    <div class="row">
        <div class="col-lg-5 contentBox">
            <div class="contentHeader">Search Customers</div>
            <div class="form-group">
                <label>Name, Number, or Address</label>
                <input class="form-control" ng-model="searchCustomer" ng-change="currentPage == 0 || setCurrentPage(0)" placeholder="Enter Name, Number, or Address">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img ng-show="loading" src="/Content/Images/loader.gif" style="width: 60px; height 60px; display:block; margin:auto;" />
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                            <th>Zip Code</th>
                        </tr>
                        <tr style="cursor: pointer;" ng-class="{'selectedGridCustomer': customer.id == customerRecord.id}" ng-click="$parent.customerRecord = customer" ng-repeat="customer in currentCustomers | filter:searchCustomer | startFrom: currentPage * pageSize  | limitTo:pageSize">
                            <td>{{customer.id}}</td>
                            <td>{{customer.firstName}}</td>
                            <td>{{customer.lastName}}</td>
                            <td>{{customer.phone}}</td>
                            <td>{{customer.zipCode}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li ng-class="{'disabled':currentPage == 0}"><a style="cursor:pointer" ng-click="currentPage == 0 || setCurrentPage(currentPage - 1)">&laquo;</a></li>
                        <li ng-class="{'active': $index==currentPage}" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index">
                            <a style="cursor:pointer" ng-click="setCurrentPage($index)">{{$index + 1}}</a>
                        </li>
                        <li ng-class="{'disabled': currentPage == numberOfPages() - 1}"><a style="cursor:pointer" ng-click="currentPage == numberOfPages() - 1 || setCurrentPage(currentPage + 1)">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6 contentBox">
            <div class="contentHeader">Add & Update Customer</div>
            <form name="userForm" novalidate>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>First Name*</label>
                        <input ng-model="customerRecord.firstName" type="text" class="form-control" placeholder="Enter First Name" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Last Name*</label>
                        <input ng-model="customerRecord.lastName" type="text" class="form-control" placeholder="Enter Last Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>E-Mail*</label>
                        <input ng-model="customerRecord.email" type="email" class="form-control" placeholder="Enter E-Mail">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Phone*</label>
                        <input ng-model="customerRecord.phone" type="tel" class="form-control" placeholder="Enter Phone" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Address</label>
                        <input ng-model="customerRecord.address" type="text" class="form-control" placeholder="Enter Address">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>State</label>
                        <input ng-model="customerRecord.state" type="text" class="form-control" placeholder="Enter State">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Zip Code</label>
                        <input ng-model="customerRecord.zipCode" type="text" class="form-control" placeholder="Enter Zip Code">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Comments</label>
                        <textarea ng-model="customerRecord.comment" rows="5" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="btnRow col-lg-12">
                        <button ng-hide="customerRecord.id" ng-click="Add(customerRecord)" ng-class="{'btn-primary': !userForm.$invalid}" ng-disabled="userForm.$invalid || isUnchanged(customerRecord)" class="pull-right btn">Save New</button>
                        <button ng-show="customerRecord.id" ng-click="Update(customerRecord)" ng-class="{'btn-primary': !userForm.$invalid}"
                                ng-disabled="userForm.$invalid || isUnchanged(customerRecord)" class="pull-right btn btn-primary">
                            Update
                        </button>
                        <button ng-click="Reset()" class="btn btn-warning">Clear Form</button>
                        <button ng-show="customerRecord.id" ng-click="Delete(customerRecord)" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
