﻿body {
    background-color: #5d1515;
    color: #e7e7e7;
}

a {
    color: #6a8ba7;
}

    a:hover {
        color: #777777;
        background-color: #e7e7e7;
        text-decoration: none;
    }

hr {
    margin-bottom: 5px;
}

#footer {
    padding-bottom: 5px;
    text-align: center;
}

.footerList {
    list-style: none;
    padding-left: 0;
}

    .footerList > li > a:hover {
        display: inline-block;
        text-decoration: none;
        padding: 5px;
    }

.selectedGridCustomer > td {
    background-color: #a0c5e4;
}

.selectedGridCustomer:hover > td {
    background-color: #a0c5e4 !important;
}

.contentBox {
    background-color: #DCDDD8;
    box-shadow: 5px 5px 10px #000000;
    color: #333333;
}

.contentHeader {
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.btnRow {
    padding-bottom: 10px;
}

.arrow-right {
    float:right;
	width: 0; 
	height: 0; 
	border-top: 16px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid white;
}

.selectedItem {
    background-color: #a0c5e4;
}