﻿<!DOCTYPE html>
<html data-ng-app="main" data-ng-controller="RootController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="'AccountTrackr - ' + title"></title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/site")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularapp")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Account Trackr</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li data-ng-class="{active : activeViewPath==='/home'}"><a href='#/home'>Home</a></li>
                <li data-ng-class="{active : activeViewPath==='/customer'}"><a href='#/customer'>Customers</a></li>
                <li data-ng-class="{active : activeViewPath==='/inventory'}"><a href='#/inventory'>Inventory Mgt</a></li>
                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="container" data-ng-view="" style="padding: 5px;">
        @RenderBody()
    </div>
    <hr />
    <div id="footer" class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6">
                <h4>Social</h4>
                <ul class="footerList">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Google+</a></li>
                    <li><a href="">Twitter</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6">
                <h4>Company</h4>
                <ul class="footerList">
                    <li><a href="">About us</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <img style="width: 85px; height:93px" src="./Content/Images/cle_small.png" />
                <br />
                <span style="font-size: 18px; font-family: 'Yellowtail', cursive; ">Built with love in Cleveland, OH</span>
            </div>
        </div>
    </div>
</body>
</html>
