﻿@{
    Layout = null;
    ViewBag.Title = "Main";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 contentBox">
                <div class="contentHeader">Inventory Management</div>
                <div class="btnRow col-lg-12">
                </div>
                <div class="col-lg-3 contentBox" style="background-color: antiquewhite">
                    <div class="contentHeader">Categories</div>
                    <a class="btn btn-default" href="#/inventory/newcategory">Add Category</a>
                    <div>
                        <ul>
                            <li ng-repeat="category in currentCategories">
                                <i ng-click="deleteCategory(category)" class="fa fa-trash-o"></i>
                                <a href="" ng-click="loadInventoryItems(category.id)" ng-class="{'selectedItem': category.id == selectedCategoryId}">
                                    {{category.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="selectedCategoryId" class="col-lg-3 contentBox" style="background-color: antiquewhite">
                    <div class="contentHeader">Items</div>
                    <a href="#/inventory/newitem/{{selectedCategoryId}}" class="btn btn-default">Add Item</a>
                    <div>
                        <ul>
                            <li ng-repeat="item in itemsInCategory">
                                <i ng-click="deleteItem(item)" class="fa fa-trash-o"></i>
                                <a href="" ng-click="loadItemAttributesWithValues(item.id)" ng-class="{'selectedItem': item.id == selectedItemId}">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="selectedItemId" class="col-lg-6 contentBox" style="background-color: antiquewhite">
                    <div class="contentHeader">Attributes</div>
                    <div>
                        <ul>
                            <li ng-repeat="attribute in selectedItemAttributes">
                                {{attribute.name}}: <input class="form-control" type="text" ng-model="attribute.attributeValues[0].value" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
