﻿@{
    Layout = null;
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 contentBox">
                <div class="contentHeader">Add New Category</div>
                <form name="userForm" novalidate>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Category Name*</label>
                            <input ng-model="categoryRecord.name" type="text" class="form-control" placeholder="Enter Category Name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <div>
                                <input ng-repeat="attribute in categoryRecord.attributes" ng-model="attribute.name" type="text" class="form-control" placeholder="Enter New Attribute" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btnRow col-lg-12">
                            <button ng-click="AddNewAttribute(customerRecord)" class="pull-right btn btn-info">Add Attribute</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btnRow col-lg-12">
                            @*<button ng-hide="customerRecord.id" ng-click="Add(customerRecord)" ng-class="{'btn-primary': !userForm.$invalid}" ng-disabled="userForm.$invalid || isUnchanged(customerRecord)" class="pull-right btn btn-primary">Save New</button>*@
                            <button ng-click="SaveNewCategory(categoryRecord)" class="pull-right btn btn-primary">Save New</button>
                            <button ng-click="Reset()" class="btn btn-warning">Clear Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
