﻿@{
    Layout = null;
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 contentBox">
                <div class="contentHeader">New Item</div>
                <form name="userForm" novalidate>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Item Name*</label>
                            <input ng-model="inventoryItem.name" type="text" class="form-control" placeholder="Enter Item Name" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Stock Count*</label>
                            <input ng-model="inventoryItem.stockCount" type="text" class="form-control" placeholder="Enter Stock Count" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <div class="contentHeader">Category Attributes</div>
                            <div ng-repeat="value in inventoryItem.attributeValues">
                                {{value.attribute.name}}:
                                <input ng-model="value.value" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btnRow col-lg-12">
                            @*<button ng-hide="customerRecord.id" ng-click="Add(customerRecord)" ng-class="{'btn-primary': !userForm.$invalid}" ng-disabled="userForm.$invalid || isUnchanged(customerRecord)" class="pull-right btn btn-primary">Save New</button>*@
                            <button ng-click="SaveNewItem(inventoryItem)" class="pull-right btn btn-primary">Save New</button>
                            <button ng-click="Reset()" class="btn btn-warning">Clear Form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>